body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Arial, sans-serif;
    background: linear-gradient(120deg, #2980b9, #6dd5fa, #ffffff);
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.presentacion {
    background: rgba(255,255,255,0.95);
    padding: 40px 60px;
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(44, 62, 80, 0.2);
    text-align: center;
    animation: aparecer 1.2s ease;
}

@keyframes aparecer {
    from { opacity: 0; transform: translateY(40px);}
    to { opacity: 1; transform: translateY(0);}
}

.resaltado {
    color: #2980b9;
    font-weight: bold;
}

#contactoBtn {
    margin-top: 25px;
    padding: 12px 32px;
    font-size: 1.1em;
    background: #2980b9;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

#contactoBtn:hover {
    background: #6dd5fa;
    color: #222;
    transform: scale(1.07);
}

.enlace {
    display: inline-block;
    /*padding: 12px 25px;*/
    color: white;
    text-decoration: none;
    /*border-radius: 25px;*/
    font-family: 'Segoe UI', sans-serif;
    font-weight: 500;
    background: linear-gradient(45deg, #4facfe 0%, #00f2fe 100%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    border: 1px solid transparent;
    padding: 6px 12px;
    border-radius: 4px;

}
/*
.enlace {
    text-decoration: none;
    color: #2196F3;
    font-weight: 500;
    border: 1px solid transparent;
    padding: 6px 12px;
    border-radius: 4px;
    transition: all 0.3s;
}*/

.enlace:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    background: linear-gradient(45deg, #3a7bd5 0%, #00d2ff 100%);
}


/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-contenido {
    background: linear-gradient(120deg, #2980b9, #6dd5fa, #ffffff);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    position: relative;
    text-align: center;
}

p.contacto {
    margin: 15px 0;
    text-align: center;
}

.modal-cerrar {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

.mail {
    font-weight: bold;
    color: #fd0101;
    text-decoration: underline;
    transition: color 3s ease;
}

.enlaces {
    display: inline-flex;
    gap: 16px;
    flex-wrap: wrap; /* Por si se achica en móvil */
}
/*
.enlace {
    text-decoration: none;
    color: #2196F3;
    font-weight: 500;
    border: 1px solid transparent;
    padding: 6px 12px;
    border-radius: 4px;
    transition: all 0.3s;
}

.enlace:hover {
    background-color: #e3f2fd;
    border-color: #90caf9;
}*/
